{{#each this}}
<a href="{{largeImageURL}}">
  <div class="photo-card">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" data-src="{{largeImageURL}}"/>
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
        <span class="figures">{{likes}}</span>
      </p>
      <p class="info-item">
        <b>Views</b>
        <span class="figures">{{views}}</span>
      </p>
      <p class="info-item">
        <b>Comments</b>
        <span class="figures">{{comments}}</span>
      </p>
      <p class="info-item">
        <b>Downloads</b>
        <span class="figures">{{downloads}}</span>
      </p>
    </div>
  </div>
</a>
{{/each}}